body {
	background: rgba(0, 0, 0, .8) url(../public/background-home.jpg) no-repeat 0 0;
	color: #fff;
}

main {
	margin: 20px;
	padding: 20px;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.booking-form {
	background: rgba(0, 0, 0, .8);
	padding: 15px;

}
.Input {
	border: 0;
	padding: 10px;

	width: 100%;
}
input:not([type]),
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=month],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=week],
input[type=tel],
input[type=color],
input[type=number],
input[type=search],
input[type=text] {
	color: #555;
}


.pure-g {
	margin: 0 -5px;
}
.pure-g [class*=pure-u] {
	padding: 0 5px 10px;
}

.form-group {
	margin-bottom: 10px;
}

.button {
	background: #168ccc;
	border: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
}
